// aniamtions
@keyframes progress-animation{
    0%{
      background-position: 100%
    }
    100%{
      background-position: 0
    }
}

.fade-in{
    animation: fade-in 12s;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
