footer{
    font-size: 1.0rem;
    background-color: rgb(24, 28, 50);
    min-height: auto;
    color: rgba(255, 255, 255, 1);

    .logo-footer{
        max-width: 200px;
    }
    em{
        transition: all .3s;
    }
    a{
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .3s;
        &:hover{
            em{
                color: rgba(255, 243, 77, 0.6);
                font-size: 1.9rem !important;
            }
        }
    }
}

