footer{
    background-color: rgb(24, 28, 50);
    min-height: auto;
    color: rgba(255, 255, 255, 1);

    .logo-footer{
        max-width: 200px;
    }
    ul{
        list-style: none;
        li{
            a{
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
                transition: all .3s;
                &:hover{
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

