// Formularios
.form-style{
    box-shadow: 0px 0px 21px #00000012;
    display: flex;
    justify-content: between;
}

.form-container{
    border: none;
    padding: 0;
    
    .form-content{
        padding: 0px;
    }
}

.form-bg{
    background: url("/images/form-image.jfif") no-repeat center center;
    background-size: cover;
}
.form-control{
    border-radius: $form-control-radius;
    border: $form-control-border;
    background-color: $form-control-bg;
    color: $form-control-color;
    padding: $form-control-padding;
    font-size: $form-control-font-size;
    font-weight: $form-control-font-weight;
    transition: .3s;

    &:focus{
        background-color: $form-control-bg-focus;
        color: $form-control-color-focus;
        box-shadow: $form-control-shadow-focus;
    }
}

label{
    padding-bottom: 5px;
}
