.youtube{
    em{
        color: rgb(255, 0, 0);
    }

}

.instagram{
    em{
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    

}

.facebook{
    em{
        color: #4b5f88;
    }

}

.icon-link{
    color: white;
    text-decoration: none;
    i{
        font-size: 1.5rem;
        margin: 5px;
    }
}
